@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #ffffff;
}

.logo {
    width: 25px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 20px;
}

.so-far {
    position: absolute;
    top: -10px;
    left: 300px;
    font-size: 15px;
    font-weight: 400;
}


.contact {
    position: absolute;
    top: -10px;
    right: 20px;
    font-size: 15px;
    font-weight: 400;
}

.know-me {
    position: absolute;
    top: -10px;
    right: 300px;
    font-size: 15px;
    font-weight: 400;
}

.projects {
    position: absolute;
    top: 835px;
    left: 20px;
    font-size: 15px;
    font-weight: 400;
}

.years {
    position: absolute;
    top: 835px;
    right: 20px;
    font-size: 15px;
    font-weight: 400;
}

.oi {
    font-size: 370;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 250px; 
    margin-top: 370px;
}

h2 {
    font-size: 100;
    font-weight: 200;
    align-items: center;
    text-align: right;
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 45;
    font-weight: 300;
    align-items: center;
    text-align: right;
    display: flex;
    justify-content: center;
    margin-left: 200px;
}

h4 {
    font-size: 100;
    font-weight: 200;
    align-items: center;
    text-align: right;
    display: flex;
    justify-content: center;
    margin-right: 600px;
}


.breathing{
    width: 600px;
    height: auto;
    margin-left: 350px; 
    margin-top: 200px;
}

.Relogio{
    width: 600px;
    height: auto;
    margin-left: 100px; 
  
}

.so-many-tools{
    width: 600px;
    height: auto;
    margin-left: 200px; 
    margin-top: 300px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #0900ae;
}

.linha {
    border-color: #0900ae;
}

