@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header{
    padding: 25px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.topo-esquerda,
.topo-direita {
    display: flex;
    align-items: center;
}

.topo-esquerda {
    justify-content: flex-start;
}

.topo-direita {
    justify-content: flex-end;
}

.logo {
    width: auto;
    height: 25px;
    margin-right: 250px; /* Alterar distancia aqui */
}

.so-far {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

.contact,
.know-me {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

.contact {
    margin-right: 250px; /* Alterar distancia aqui */
}

.know-me {
    margin-left: 0px;
}

.oi {
    font-size: 300px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
    padding-left: 20%;
}

.extras {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px; /* Ajuste a distância do fundo conforme necessário */
    width: 100%;
    padding-left: 2%;
}

.projects {
    margin: 0; /* Ajuste a distância horizontal conforme necessário */
    font-size: 15px;
    font-weight: 400;
}

.instagram {
    margin: 0px; /* Ajuste a distância horizontal conforme necessário */
    font-size: 15px;
    font-weight: 400;
}

h2 {
    font-size: 100;
    font-weight: 200;
    align-items: center;
    text-align: right;
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 45;
    font-weight: 300;
    align-items: center;
    text-align: right;
    display: flex;
    justify-content: center;
    margin-left: 200px;
}

h4 {
    font-size: 100;
    font-weight: 200;
    align-items: center;
    text-align: right;
    display: flex;
    justify-content: center;
    margin-right: 600px;
}

.CV{
    width: 300px;
    height: auto;
    margin-left: 1250px; 

}

.breathing{
    width: 600px;
    height: auto;
    margin-left: 350px; 
    margin-top: 200px;
}

.Relogio{
    width: 600px;
    height: auto;
    margin-left: 100px; 
  
}

.so-many-tools{
    width: 600px;
    height: auto;
    margin-left: 200px; 
    margin-top: 300px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #0900ae;
}

.linha {
    border-color: #0900ae;
}

