.image-container {
  position: relative;
  display: inline-block; /* ou block, dependendo do seu layout */
}

.image-container img {
  display: block;
  width: 100%; /* Ajuste conforme necessário */
}

.overlay {
  position: absolute;
  top: 95%; /* Ajuste a posição conforme necessário */
  left: 00%; /* Ajuste a posição conforme necessário */
  width: 100%; /* Largura do retângulo */
  height: 80px; /* Altura do retângulo */
  background-color: #f5f5f5; /* Cor branca com opacidade */
}

body {
  background-color: #f5f5f5;
}